::-webkit-scrollbar{
    
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #CCCCCC;

    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--blue);

    border-radius: 0.5rem;
}

.header__container{
    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-color: var(--white);
    padding: 1rem 2rem;
    border-bottom: solid 1px var(--blue);

    width: 100%;

    position: fixed;
    top: 0;
    z-index: 1;
}

.header__div--logo{
    display: flex;
    justify-content: space-between;
}

.header__div--logo > h1{
    font-size: 1rem;
    font-weight: bold;

    display: flex;
    align-items: center;
}
.header__div--logo > h1 > img{
    margin-right: 0.5rem;
}

.header__div--logo > span{
    cursor: pointer;
}

.header__div--btns{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#login{
    color: var(--blue);
    font-size: 1.125rem;

    border: solid 1px var(--blue);
    background-color: var(--white);
    padding: 0.5rem 0;

    width: 50%;

    cursor: pointer;

    transition: all 0.3s;
}

#signup{
    color: var(--white);
    font-size: 1.125rem;

    border: solid 1px var(--blue);
    background-color: var(--blue);
    padding: 0.5rem 0;

    width: 50%;

    cursor: pointer;

    transition: all 0.3s;
}

.main__container{
    margin-top: 60px;
    padding: 1rem;
}

.section__container{
   width: 100%;
   padding-bottom: 1rem;
   background-color: #eaeaea82;
   border-radius: 0.25rem;
}

#sector{
    cursor: pointer;

    color: white;
    text-align: center;
    font-size: 1.125rem;
    font-family: 'Poppins', sans-serif;

    padding: 1rem 0;

    border: none;
    border-radius: 0.25rem 0.25rem 0 0;

    width: 100%;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--blue) url("../assets/img/Arrow.svg") 98% 50% no-repeat;

    position: relative;
}

.list__container{
    display: flex;
    gap: 1rem;

    padding: 1rem;
    width: 100%;

    overflow-x: auto;
}

.list__item{
    display: flex;
    flex-direction: column;
    align-items: baseline;

    background-color: var(--white);

    padding: 1rem;
    border-bottom: solid 1px var(--blue);
    border-radius: 0.25rem;

    height: 40vh;
}

.list__item > h3{
    font-size: 1.25rem;
    font-weight: bold;
    width: 241px;

    margin-bottom: 6rem;
}

.list__item > span{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.list__item > small{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1rem;
    color: var(--blue);
    border: solid 1px var(--blue);
    border-radius: 1rem;
    
    padding: 0 1rem;
}

.hidden{
    display: none;
}

@media (min-width: 769px) {

    .header__container{
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem 6rem;
    }

    .header__div--logo > h1{
        font-size: 1.25rem;
    }

    #login{
        width: 10rem;
    }

    #login:hover{
        transform: scale(1.05);
        background-color: var(--blue);
        color: var(--white);
    }    

    #signup{
        width: 10rem;
    }

    #signup:hover{
        transform: scale(1.05);
    }

    .header__div--logo > span{
        display: none;
    }

    .main__container{
        display: flex;
        justify-content: center;
        gap: 2rem;

        padding: 2rem 6rem;
        height: 80vh;
    }

    .section__img{
        width: 50%;
    }

    .section__img > img{
        height: 100%;
        width: 100%;
    }

    .section__container{
        height: 100%;
        width: 50%;

        padding-bottom: 0.5rem;
    }

    .list__container{
        height: 90%;
        padding: 1rem 2rem;
        flex-direction: column;
        overflow-y: auto;
    }

   .list__item{
    height: auto;
   }

    .list__item > h3{
        margin-bottom: 2rem;
    }

    .hidden{
        display: block;
    }

}