::-webkit-scrollbar{
    
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #CCCCCC;

    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--blue);

    border-radius: 0.5rem;
}

.header__container{
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    background-color: var(--white);
    padding: 1rem 2rem;
    border-bottom: solid 1px var(--blue);

    width: 100%;

    position: fixed;
    top: 0;
    z-index: 1;
}

.header__container > h1{
    font-size: 1rem;
    font-weight: bold;

    display: flex;
    align-items: center;

    width: 72%;
}
.header__container > h1 > img{
    margin-right: 0.5rem;
}

#logout{
    color: var(--blue);
    font-size: 1.125rem;

    border: solid 1px var(--blue);
    background-color: var(--white);
    padding: 0.5rem 0;

    width: 28%;

    cursor: pointer;
}

.main__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
    margin-top: 100px;
    padding: 1rem;
}

.section__user--details{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;

    padding: 1rem;
    border: solid 1px #CCCCCC;

    position: relative;
}

.section__user--details > h2{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.section__user--details > img{
    position: absolute;
    top: 40%;
    right: 1rem;

    cursor: pointer;
}

.div__user--datos{
    display: flex;
    flex-direction: column;

    font-size: 1rem;
}

.user__level, .user__work{
    font-size: 1rem;
    text-transform: capitalize;
}

.section__job--container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    background-color: #eaeaea82;

    border: solid 1px #CCCCCC;
    border-radius: 0.25rem;
}

.section__job--container{
    height: 40vh;

}

.section__job--container > h2{
    font-size: 1.5rem;
    font-weight: bold;

    margin: auto 0;
    text-align: center;
}

.section__job--container > h3{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
    background-color: var(--blue);

    border: solid 1px var(--blue);
    border-radius: 0.25rem 0.25rem 0 0;

    padding: 1rem;
    width: 100%;
}

.list__container{
    display: flex;
    gap: 1rem;
    
    padding: 1rem;
    overflow: auto;

    width: 100%;

    margin: auto 0;
}

.list__container > h2{
    font-size: 1.5rem;
    font-weight: bold;

    margin: 0 auto;
}

.list__item{
    border: solid 1px var(--blue);
    padding: 0.5rem;
    width: 150px;

    margin: 0 auto;
}

.list__item > h4{
    font-size: 1rem;
    font-weight: bold;

    width: 10rem;
}

.list__item > span{
    font-size: 1rem;
}

.modal__container{
    height: 60%;
    width: 80%;
    padding: 0;
    border: solid 1px #CCCCCC;
}

/* .modal__container::backdrop{
    background: rgba(0, 0, 0, 0.5);
} */

.modal__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    padding: 1rem;

    position: relative;
}

.close__btn{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    font-size: 1.5rem;

    cursor: pointer;
}

.modal__form > h2{
    font-size: 2rem;
    color: var(--black);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.modal__form > input{
    border: solid 1px #CCCCCC;
    border-radius: 0.25rem;
    background-color: var(--white);

    font-family: 'Inter', sans-serif;
    font-size: 1rem;

    padding: 1rem;
}

#edit_profile{
    background-color: var(--blue);
    padding: 0.5rem 0;
    width: 100%;

    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    color: var(--white);

    border: solid 1px var(--blue);
    border-radius: 0.25rem;

    cursor: pointer;
}


@media (min-width: 769px)  {

    .header__container{
        padding: 1rem 6rem;
    }

    .header__container > h1{
        font-size: 1.25rem;
    }

    #logout{
        width: 10rem;
        transition: all 0.3s;
    }

    #logout:hover{
        transform: scale(1.05);

        background-color: var(--blue);
        color: var(--white);
    }

    .main__container{
        padding: 0 6rem;
    }
    
    .section__user--details > h2{
        font-size: 1.875rem;
    }

    .div__user--datos{
        flex-direction: row;
        justify-content: space-between;

        width: 70%;
    }

    .section__job--container{

        height: 60vh;
    }
    
    .section__job--container > h2{
        font-size: 2.5rem;

    }

    .section__job--container > h3{
        font-size: 2rem;
    }

    .list__container{
        flex-wrap: wrap;
        gap: 2rem;

        padding: 2rem;
        margin: auto 0;
    }

    .list__item{
        padding: 0.5rem;
        width: 318px;
    }

    .modal__container{
        width: 30%;
        padding: 2rem;
    }
}